######==============#######
## Artscript config file ##
######==============#######
#
# Use this file load diferent settings at loading.
# Lines starting with "#" will be ignored
# To use rename to presets.config (remove the "example")
# Custom variables (only autor available v1.5)
autor=Autor

# Use above variables like the example (ex. autor > $autor)
# Other variables available: $date (current date), $year, $month, $day.
# ex (watxt=$autor $now)
# Filling listboxes
# ex (watermarks="http://example.wordpress.com" "example@example.com" "copyright (c) $year $autor")


# Default options

# Presets
# If no preset value is defined any uncommented value will be loaded by default.
# See end of file to view an example

# Preset name, put next to the equal simbol, no quoting. Follow examples
# Anything below "preset=" will be loaded when artscript is called with argument ":preset"
# ex ( $sh ~ artscript :preset collage file1.jpg file2.png file3.kra )
# example above loads anything below "preset=collage"
# preset=

# Turn on remember last used settings. Default 0 (off)    1 = On
# Settings will be saved in .artscriptrc file in the same directory the script is running
# remember_state=1

#-==== Watermark options
# watermark_text=

# watermark default list, follow example to add your own [listbox]
# watermark_text_list="http://example.site.com" "example@example.com" "copyright (c) $year $autor"

# watermark text size in points
# watermark_size=10

# Text	 watermark position "TopLeft" "Top" "TopRight" "Left" "Center" "Right" "BottomLeft" "Bottom"  "BottomRight"
# watermark_position=BottomRight

# Text color in hex value (#fff, #ffffff) or tk colors http://www.tcl.tk/man/tcl8.4/TkCmd/colors.htm (white)
# watermark_color=#ff3456

# text opacity. 0 invisible, 100 opaque
# watermark_text_opacity=70

# watermark swatches. colors are set as Name Value pairs. Value must be in hex or tk name covention
# watermark_color_swatches=Black black English-red #D00000 "Dark crimson" #780422 Orange #FE8B00

# Image path uri, "Name Path" pairs. path must be an absolute path
# watermark_image_list="Image name" "/path/to/image.png" "Image name" "/path/to/image.png"

# Image watermark position. "TopLeft" "Top" "TopRight" "Left" "Center" "Right" "BottomLeft" "Bottom"  "BottomRight"
# watermark_image_position="BottomLeft"

# Image size relative to image. (Not used v2.1)
# watermark_image_size="90"

# Image blending option. ( "Bumpmap" "Burn" "Color_Burn" "Color_Dodge" "Colorize" "Copy_Black" "Copy_Blue" "Copy_Cyan" "Copy_Green" "Copy_Magenta" "Copy_Opacity" "Copy_Red" "Copy_Yellow" "Darken" "DarkenIntensity" "Difference" "Divide" "Dodge" "Exclusion" "Hard_Light" "Hue" "Light" "Lighten" "LightenIntensity" "Linear_Burn" "Linear_Dodge" "Linear_Light" "Luminize" "Minus" "ModulusAdd" "ModulusSubtract" "Multiply" "Overlay" "Pegtop_Light" "Pin_Light" "Plus" "Saturate" "Screen" "Soft_Light" "Vivid_Light")
# watermark_image_style="Over"


#-==== Size options
# Sizes available in preset lists. Space separated values. Use name "default" to autload some values.
# Example sizes_set(NAME_OF_PRESET) = "value1 value2 value3..."
# sizes_set(default)=1920x1080 1680x1050 1280x1024 50% 1024x768 720x720 640x480

# Resize scale operator. Scale Stretch OnlyGrow OnlyShrink Zoom
# resize_operators=Zoom

# Operator Zoom crop position.
# resize_zoom_position=North


#-==== Collage options
# Set aspect ratio for collage tile size
# collage_ratio=

# Tile width and height
# collage_wid=
# collage_hei=

# Layout options, column and rows
# collage_col=
# collage_row=

# Number of images for each collage.
# collage_range=

# Default label value: Substitution strings.  http://www.imagemagick.org/script/escape.php
# collage_label=

# Control border around each tile.
# collage_border=

# Control tile spacing.
# collage_padding=

Collage Mode: Concatenation "Zero geometry" Crop
# collage_mode=

# Collage background color
# collage_bg_color=

# Tile border color
# collage_border_color=

# Label color
# collage_label_color=

# Preview image bg color (This is only for preview, its helpfull to set equal to background color)
# collage_img_color=


#-====Extension & output
# Default output extension
# format=jpg

# Image quality
# image_quality=95


#-====Suffix options
# Suffix list options
# suffix_list=net arts read

# Default selected suffix
# out_suffix=net

#Default selected prefix
# out_prefix=net

#-====Selected operations, default false
# Controls watermark insert. (1 = true / 0 = false)
# select_watermark=0
# select_watermark_text=0
# select_watermark_image=0

# Controls suffix, collage. (1 = true / 0 = false)
# select_suffix=0
# select_collage=0

# Controls if files should be overwritten if there is a name collision or not.
# overwrite=0


# ====::::: Presets

# Preset name, put next to the equal simbol, no quoting. Follow examples
# Anything below "preset=" will be loaded when artscript is called with argument ":preset"
# By default setting no "preset" value means that all values go to "default" preset
# ex ( $sh ~ artscript :preset collage file1.jpg file2.png file3.kra )
# example above loads anything below "preset=collage"
# preset=

# Any value defined after a preset will be loaded if artscript is called in the following form
# $sh ~ artscript :preset strip file1.jpg file2.png ...

# preset=strip
# watermark_color_swatches=