[Desktop Entry]
Encoding=UTF-8
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Type=Service
X-KDE-Priority=TopLevel
Actions=artscript
TryExec=convert

[Desktop Action artscript]
Name=Artscript Tcl
Icon=view-catalog
Exec=/path/to/artscriptk/artscript2.tcl/ %F